.root {

    -fx-font-family: "sans-serif";
    -fx-font-size: 15;

}

.button {

    -fx-background-color: darkgray;

}

.blankTextField  {
	
	-fx-background-image: url("smallwarning.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: right center;
	
}